@charset "UTF-8";
body {
  font-family: -apple-system, Helvetica, Arial, Tahoma, "PingFang SC","Hiragino Sans GB", "Hiragino Sans GB W3","Microsoft YaHei","Simsun",sans-serif !important; }

body {
  margin: 0;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  font-weight: normal; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc; }

.main {
  height: 100%; }

body {
  line-height: normal;
  background-color: #f7f7f7; }
  body .main {
    font-size: 0.28rem; }

.track-main {
  padding: 0.88rem 0 1.06rem 0; }

.login-number, .store-name, .coupon-list .introduce, .coupon-list .coupon-use > li {
  *zoom: 1; }
  .login-number:before, .store-name:before, .coupon-list .introduce:before, .coupon-list .coupon-use > li:before, .login-number:after, .store-name:after, .coupon-list .introduce:after, .coupon-list .coupon-use > li:after {
    content: "";
    display: table; }
  .login-number:after, .store-name:after, .coupon-list .introduce:after, .coupon-list .coupon-use > li:after {
    clear: both;
    overflow: hidden; }

@-webkit-keyframes wait {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
.line-item-textarea-mask {
  position: absolute;
  top: 5.06rem;
  left: 0;
  z-index: 1;
  height: 0.86rem;
  width: 100%;
  pointer-events: none;
  background: -webkit-linear-gradient(top, transparent, #ffffff); }

/*头部*/
/*两种头部，一种透明一种常规*/
.header {
  height: 0.88rem;
  z-index: 998;
  min-width: 6.4rem;
  background-color: #29bd99;
  box-sizing: border-box; }
  .header-left, .header-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.3rem;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.3rem;
    text-align: center;
    color: #fff;
    box-sizing: border-box; }
  .header-left {
    right: auto;
    left: 0; }
  .header .hd-lge {
    height: 0.44rem;
    font-size: 0.36rem;
    left: 0.36rem;
    top: 0.26rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box; }
  .header .hd-rtn {
    left: auto;
    right: 0.36rem;
    top: 0.26rem;
    height: 0.44rem;
    font-size: 0.3rem;
    color: #fff;
    box-sizing: border-box; }
    .header .hd-rtn a {
      color: #fff; }
  .header .ico-back {
    left: 0.36rem;
    top: 0.28rem; }
  .header h1 {
    line-height: 0.88rem;
    font-weight: normal;
    font-size: 0.36rem;
    box-sizing: border-box; }
  .header .shop-address {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-content: center; }
    .header .shop-address aside {
      position: relative;
      margin: 0rem auto 0;
      height: 0.88rem;
      padding-right: 0.5rem;
      box-sizing: border-box;
      min-width: 2.2rem; }
      .header .shop-address aside i {
        border-color: #fff;
        box-sizing: border-box;
        left: auto;
        right: 0.04rem;
        top: 0.4rem; }
      .header .shop-address aside p {
        line-height: 0.36rem;
        box-sizing: border-box;
        max-width: 3.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .header .shop-address aside p:last-child {
        font-size: 0.24rem;
        max-width: 3.6rem;
        margin: 0 auto; }
      .header .shop-address aside .zdf {
        margin-top: 0.1rem; }
      .header .shop-address aside p.add-ellipsis {
        line-height: 0.88rem;
        box-sizing: border-box;
        font-size: 0.36rem; }

.header-ios {
  padding-top: 0.4rem;
  height: 1.28rem; }
  .header-ios .hd-lge {
    top: 0.7rem; }
  .header-ios .hd-rtn {
    top: 0.7rem; }

.header-transparent {
  background-color: transparent; }

.header-transparent-top {
  margin-top: 0.22rem; }

.mt10 {
  margin-top: 0.2rem; }

.mb10 {
  margin-bottom: 0.2rem; }

.mb20 {
  margin-bottom: 0.4rem; }

.mt20 {
  margin-top: 0.4rem; }

.mb30 {
  margin-bottom: 0.6rem; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  *zoom: 1; }

.textGradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#585858), to(#fff));
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.shand {
  color: #29bd99 !important; }

.txt-red {
  color: #ff4538; }

.bd-b-none {
  border-bottom: 0rem !important; }

.ab {
  top: 0;
  left: 0;
  position: absolute; }

.Acenter, .ico-close:before, .ico-close:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.Fcenter {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box; }

.dn {
  display: none; }

.disabled {
  pointer-events: none;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  background-color: #ccc !important;
  cursor: not-allowed; }

.bd-security {
  border-color: #66b98f; }

.bd-error {
  border-color: #f4a6a1; }

.btn {
  display: inline-block;
  border-radius: 0.06rem;
  padding: 0 0.14rem;
  line-height: 0.4rem; }

.btn-green {
  color: #29bd99;
  border: 0.02rem solid #29bd99; }

.i-loading {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }
  .i-loading img {
    width: 100%; }

.fold {
  width: 0.16rem;
  height: 0.16rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  box-sizing: border-box; }

.fold-green {
  border-bottom: 0.04rem solid #29bd99;
  border-right: 0.04rem solid #29bd99;
  box-sizing: border-box; }

.fold-gray {
  border-bottom: 0.04rem solid #c1c1c1;
  border-right: 0.04rem solid #c1c1c1;
  box-sizing: border-box; }

.open {
  width: 0.16rem;
  height: 0.16rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
      -ms-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
  box-sizing: border-box; }

.open-green {
  border-bottom: 0.04rem solid #29bd99;
  border-right: 0.04rem solid #29bd99;
  box-sizing: border-box; }

.open-gray {
  border-bottom: 0.04rem solid #c1c1c1;
  border-right: 0.04rem solid #c1c1c1;
  box-sizing: border-box; }

.on-off {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  z-index: 1;
  cursor: pointer; }

.lights {
  width: 0.52rem;
  height: 0.52rem;
  position: absolute;
  right: 0.36rem;
  top: 0.26rem;
  background: url(http://pic.c-ctrip.com/distribution/track/on-off.png) 0 0 no-repeat;
  background-size: 0.52rem 1.04rem;
  box-sizing: border-box; }

.lights-close {
  background-position: 0 -0.6rem;
  box-sizing: border-box; }

.wait {
  width: 0.82rem;
  height: 0.68rem;
  display: inline-block;
  background: url(http://pic.c-ctrip.com/distribution/track/ico-wait.png) 0 0 no-repeat;
  background-size: 0.82rem 0.68rem;
  -webkit-animation: wait .5s linear infinite;
          animation: wait .5s linear infinite;
  box-sizing: border-box; }

.ico-remove {
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  left: 0rem;
  top: 0.24rem;
  background-color: #ff6767;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box; }
  .ico-remove:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.16rem;
    height: 0.04rem;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    box-sizing: border-box; }

.ico-close {
  width: 0.26rem;
  height: 0.26rem;
  background-color: #b8b8b8;
  border-radius: 50%;
  position: absolute;
  right: 0rem;
  top: 0.24rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  box-sizing: border-box; }
  .ico-close:before, .ico-close:after {
    content: "";
    width: 0.16rem;
    height: 0.04rem;
    background-color: #fff;
    box-sizing: border-box; }
  .ico-close:after {
    width: 0.04rem;
    height: 0.16rem; }

.ico-sorry {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.04rem solid #f19900;
  position: absolute;
  left: 0;
  top: 0rem;
  box-sizing: border-box; }
  .ico-sorry:before {
    content: "";
    width: 0.08rem;
    height: 0.26rem;
    border-radius: 0.14rem;
    background-color: #f19900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    box-sizing: border-box; }
  .ico-sorry:after {
    content: "";
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color: #f19900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0.4rem;
    box-sizing: border-box; }

.ico-sorry-gray {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.04rem solid #ccc;
  position: absolute;
  left: 0;
  top: 0rem;
  box-sizing: border-box; }
  .ico-sorry-gray:before {
    content: "";
    width: 0.08rem;
    height: 0.26rem;
    border-radius: 0.14rem;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    box-sizing: border-box; }
  .ico-sorry-gray:after {
    content: "";
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0.4rem;
    box-sizing: border-box; }

.close-shop {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.3rem;
  height: 0.3rem;
  -webkit-transform: rotate(45deg) translate(-50%, 50%);
      -ms-transform: rotate(45deg) translate(-50%, 50%);
          transform: rotate(45deg) translate(-50%, 50%);
  box-sizing: border-box; }
  .close-shop:before, .close-shop:after {
    content: "";
    width: 0.02rem;
    height: 0.26rem;
    background-color: #858585;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    box-sizing: border-box; }
  .close-shop:after {
    width: 0.26rem;
    height: 0.02rem; }

.track-sucess {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  border: 0.04rem solid #29bd80;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box; }
  .track-sucess:before {
    content: "";
    width: 0.2rem;
    height: 0.4rem;
    border: 0;
    border-bottom: 0.04rem solid #29bd80;
    border-right: 0.04rem solid #29bd80;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-105%, -25%);
        -ms-transform: rotate(45deg) translate(-105%, -25%);
            transform: rotate(45deg) translate(-105%, -25%);
    box-sizing: border-box; }

.track-default {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  border: 0.04rem solid #ccc;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box; }
  .track-default:before {
    content: "";
    width: 0.2rem;
    height: 0.4rem;
    border: 0;
    border-bottom: 0.04rem solid #ccc;
    border-right: 0.04rem solid #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-105%, -25%);
        -ms-transform: rotate(45deg) translate(-105%, -25%);
            transform: rotate(45deg) translate(-105%, -25%);
    box-sizing: border-box; }

.ico-back {
  width: 0.26rem;
  height: 0.26rem;
  display: inline-block;
  border: 0;
  border-left: 0.04rem solid #fff;
  border-bottom: 0.04rem solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  box-sizing: border-box; }

.ico {
  background: url(http://pic.c-ctrip.com/distribution/track/track-menu-ico1.png) 0 0 no-repeat;
  background-size: 0.38rem 2.24rem;
  display: inline-block;
  width: 0.4rem;
  height: 0.38rem;
  box-sizing: border-box; }

.ico-photo {
  background-position: 0 -0.48rem;
  box-sizing: border-box; }

.ico-peaking {
  background-position: 0 -1.44rem; }

.select {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  width: 0.18rem;
  height: 0.3rem;
  border: 0;
  border-bottom: 0.04rem solid #29bd99;
  border-right: 0.04rem solid #29bd99;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  box-sizing: border-box; }

.pop {
  border-radius: 0.1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1003;
  box-sizing: border-box; }
  .pop .oder-close {
    background-color: #333;
    width: 0.5rem;
    height: 0.5rem;
    top: -0.24rem;
    right: -0.24rem;
    box-sizing: border-box; }
    .pop .oder-close:before {
      width: 0.24rem; }
    .pop .oder-close:after {
      height: 0.24rem; }
  .pop .confirm {
    border-top: 0.02rem solid #B2B2B2;
    box-sizing: border-box; }
    .pop .confirm li {
      float: left;
      width: 50%;
      line-height: 0.9rem;
      text-align: center;
      box-sizing: border-box; }
      .pop .confirm li a {
        color: #999; }
    .pop .confirm li:first-child {
      border-right: 0.02rem solid #B2B2B2;
      box-sizing: border-box; }
  .pop .sub-oder .money {
    line-height: 1rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    box-shadow: 0 0.02rem 0 #dcdcdc;
    font-size: 0.28rem; }
  .pop .sub-oder .money-l {
    float: left;
    color: #585858;
    box-sizing: border-box; }
  .pop .sub-oder .money-r {
    width: 65%;
    float: left;
    height: 1rem;
    color: #999;
    box-sizing: border-box;
    color: #585858; }
  .pop .sub-oder .money-commit {
    box-shadow: 0 0.02rem 0 #b2b2b2; }
  .pop .sub-oder .commit {
    padding: 0.12rem 0.2rem 0.1rem;
    box-sizing: border-box; }
    .pop .sub-oder .commit a {
      margin: 0 auto;
      display: block;
      border-radius: 0.06rem;
      color: #fff;
      height: 0.88rem;
      line-height: 0.88rem;
      background-color: #ff8945;
      text-align: center;
      box-sizing: border-box; }

.pop-return {
  width: 5.6rem;
  box-sizing: border-box; }
  .pop-return .pop-hd {
    font-size: 0.3rem;
    padding: 0.5rem 0 0.4rem 0;
    box-sizing: border-box; }
    .pop-return .pop-hd p {
      text-align: center;
      color: #666;
      box-sizing: border-box; }

.pop-insert-submit {
  width: 87%; }

.pop-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.6rem;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box; }
  .pop-flex .sub-wait {
    width: 2rem;
    text-align: center;
    box-sizing: border-box; }
    .pop-flex .sub-wait .waiting {
      margin-top: 0.3rem;
      color: #999;
      box-sizing: border-box; }

.pop-clear {
  width: 6rem;
  box-sizing: border-box; }
  .pop-clear .on-off {
    right: auto;
    left: 0.2rem;
    top: 0.2rem; }
  .pop-clear .clear-oder-tl {
    text-align: center;
    box-shadow: 0rem 0.02rem 0 #b2b2b2;
    padding: 0.24rem 0;
    position: relative;
    box-sizing: border-box; }
    .pop-clear .clear-oder-tl h2 {
      font-size: 0.36rem;
      color: #000; }
    .pop-clear .clear-oder-tl span {
      font-size: 0.24rem;
      color: #ff4538; }
  .pop-clear .clear-oder-reason {
    max-height: 4.6rem;
    overflow: auto; }
    .pop-clear .clear-oder-reason dd {
      text-align: center;
      box-shadow: 0rem 0.02rem 0 #b2b2b2;
      padding: 0.24rem;
      position: relative;
      box-sizing: border-box; }
    .pop-clear .clear-oder-reason dd {
      color: #585858;
      font-size: 0.3rem; }
    .pop-clear .clear-oder-reason .answer {
      line-height: 0.4rem;
      box-sizing: border-box; }

.pop-more {
  width: 6rem;
  padding: 0 0.2rem 0.2rem;
  box-sizing: border-box; }
  .pop-more .pop-top {
    position: relative;
    padding: 0.24rem 0rem;
    line-height: 0.4rem; }
    .pop-more .pop-top .on-off {
      right: 0.1rem;
      top: 0.1rem; }
    .pop-more .pop-top .close-shop:before, .pop-more .pop-top .close-shop:after {
      background-color: #333; }
  .pop-more .pop-hd {
    line-height: 0.36rem; }
    .pop-more .pop-hd .more-rule li {
      color: #666;
      font-size: 0.24rem;
      padding: 0.04rem 0; }

.more-info {
  padding: 0.06rem 0;
  color: #29bd99;
  box-sizing: border-box; }
  .more-info .more {
    color: #29bd99;
    margin-right: 0.06rem;
    line-height: 0.4rem;
    box-sizing: border-box; }

.track-alert-sm {
  position: fixed;
  top: 50%;
  left: 50%;
  word-break: break-all;
  max-width: 6rem;
  padding: 0.3rem 0.4rem;
  font-size: 0.24rem;
  text-align: center;
  border-radius: 0.12rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box; }

.track-pop-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box; }

.track-login {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.track-login-btn {
  margin: 0 0.4rem;
  box-sizing: border-box; }
  .track-login-btn .base {
    height: 0.88rem;
    border: 0.02rem solid #000;
    padding-left: 0.12rem;
    font-size: 0.3rem;
    color: #999;
    box-sizing: border-box; }

.login-number {
  box-sizing: border-box; }
  .login-number .security {
    border-color: #42aa75;
    box-sizing: border-box; }
  .login-number .error {
    border-color: #ff4538;
    color: #ff4538;
    box-sizing: border-box; }

.login-vertify input[type="text"] {
  width: 70%;
  box-sizing: border-box; }
.login-vertify .vertify {
  width: 27%;
  height: 0.88rem;
  line-height: 0.88rem;
  border: 0.02rem solid #ececec;
  border-radius: 0.06rem;
  float: right;
  box-sizing: border-box; }

.login-other {
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.1rem; }
  .login-other a {
    text-decoration: underline;
    color: #24bf9d;
    box-sizing: border-box; }

.login-password .log-sub {
  color: #FFF;
  background-color: #ff8945;
  border-color: #ff8945;
  border-radius: 0.06rem;
  display: inline-block;
  cursor: pointer;
  height: 0.88rem;
  line-height: 0.88rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box; }
.login-password .log-next {
  color: #ff8945;
  border: 0.02rem solid #ff8945;
  border-radius: 0.06rem;
  display: inline-block;
  cursor: pointer;
  height: 0.88rem;
  line-height: 0.88rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box; }

.login-submit {
  margin: 0 0.4rem;
  box-sizing: border-box; }

/*****************************历史订单页面********************************/
.history-oder {
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 0 0.1rem; }
  .history-oder .history-oder-sales {
    -webkit-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
            transform: translateX(0rem);
    border: 0.02rem solid #eaeaea;
    margin: 0.1rem 0;
    padding: 0.3rem;
    font-size: 0.24rem;
    background-color: #fff;
    position: relative;
    box-sizing: border-box; }
    .history-oder .history-oder-sales .sales {
      line-height: 0.44rem;
      color: #333;
      box-sizing: border-box; }
    .history-oder .history-oder-sales .pay {
      line-height: 0.4rem;
      padding: 0.06rem 0 0 1.2rem;
      color: #666;
      position: relative;
      box-sizing: border-box; }
      .history-oder .history-oder-sales .pay .pay-error {
        color: #ff4538;
        box-sizing: border-box; }
      .history-oder .history-oder-sales .pay span {
        word-break: break-all;
        box-sizing: border-box; }
      .history-oder .history-oder-sales .pay .pay-oder {
        position: absolute;
        left: 0rem;
        top: 0.06rem;
        box-sizing: border-box; }
    .history-oder .history-oder-sales .close-oder {
      position: absolute;
      right: -1.4rem;
      display: none;
      top: -0.02rem;
      z-index: 1;
      width: 1.4rem;
      text-align: center;
      height: 2rem;
      line-height: 2rem;
      color: #fff;
      background-color: #ff6767;
      box-sizing: border-box; }
  .history-oder .history-oder-fold {
    max-height: 1.18rem;
    overflow: hidden;
    box-sizing: border-box; }
  .history-oder .history-oder-sales-left {
    -webkit-transform: translateX(-1.4rem);
        -ms-transform: translateX(-1.4rem);
            transform: translateX(-1.4rem);
    box-sizing: border-box; }
    .history-oder .history-oder-sales-left .close-oder {
      display: block;
      box-sizing: border-box; }

.history-null {
  margin-top: 1.6rem;
  text-align: center;
  box-sizing: border-box; }
  .history-null .notice-bg {
    display: inline-block;
    width: 1.5rem;
    height: 1.24rem;
    background: url(http://pic.c-ctrip.com/distribution/track/return-fail.png) 0 0 no-repeat;
    background-size: 1.5rem 1.24rem;
    box-sizing: border-box; }
  .history-null .title {
    color: #999;
    box-sizing: border-box; }

.bottom-menu {
  position: fixed;
  min-width: 6.4rem;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff; }
  .bottom-menu ul {
    box-sizing: border-box; }
    .bottom-menu ul > li {
      width: 34%;
      float: left;
      position: relative;
      background-color: #fff;
      text-align: center;
      padding-top: 0.54rem;
      box-sizing: border-box; }
      .bottom-menu ul > li .ico {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        top: 0.18rem;
        box-sizing: border-box; }
      .bottom-menu ul > li > span {
        line-height: 0.44rem;
        box-sizing: border-box; }
    .bottom-menu ul li.current {
      color: #27b89a; }
    .bottom-menu ul .photo {
      width: 32%;
      margin-top: -0.12rem;
      padding-top: 0.68rem;
      color: #fff;
      background: -webkit-linear-gradient(top, #26b39a, #29bd99);
      box-sizing: border-box; }
      .bottom-menu ul .photo .ico {
        top: 0.24rem; }
    .bottom-menu ul .photo.current {
      color: #fff; }
    .bottom-menu ul .fee {
      color: #666;
      border-top: 0.02rem solid #dcdcdc;
      box-sizing: border-box; }
    .bottom-menu ul .fee.current .ico {
      box-sizing: border-box;
      background-position: 0 -1.88rem; }
    .bottom-menu ul .peaking {
      color: #666;
      border-top: 0.02rem solid #dcdcdc;
      box-sizing: border-box; }
    .bottom-menu ul .peaking.current .ico-peaking {
      background-position: 0 -0.98rem;
      box-sizing: border-box; }
  .bottom-menu .code-title {
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
    width: 3rem;
    font-size: 0.24rem;
    box-sizing: border-box; }
  .bottom-menu .history-title {
    position: absolute;
    bottom: 0.9rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 0.24rem;
    box-sizing: border-box; }

.tikets-menu {
  position: fixed;
  min-width: 6.4rem;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box; }
  .tikets-menu ul {
    line-height: 1rem;
    height: 1rem;
    text-align: center;
    color: #666;
    box-sizing: border-box;
    font-size: 0.26rem; }
  .tikets-menu li {
    float: left;
    width: 28%;
    border-top: 0.02rem solid #dcdcdc;
    box-sizing: border-box; }
  .tikets-menu li:first-child {
    border-right: 0.02rem solid #dcdcdc; }
  .tikets-menu li:last-child {
    width: 44%;
    background-color: #ff8947;
    color: #fff; }
    .tikets-menu li:last-child strong {
      font-size: 0.36rem;
      font-weight: normal; }
  .tikets-menu .go-sales {
    box-sizing: border-box; }
    .tikets-menu .go-sales li.ch-hx {
      width: 100%;
      float: none;
      box-sizing: border-box; }

/* *************输入券号页面************** */
.tekets-insert {
  height: 100%; }
  .tekets-insert .track-pop-mask {
    z-index: 9;
    box-sizing: border-box; }
  .tekets-insert aside.Acenter, .tekets-insert aside.ico-close:before, .tekets-insert aside.ico-close:after {
    -webkit-transform: translate(-50%, -65%);
        -ms-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
    box-sizing: border-box; }
  .tekets-insert .login-submit {
    margin-top: 0.2rem;
    box-sizing: border-box; }

.saw-code {
  box-sizing: border-box; }
  .saw-code aside .code {
    min-width: 4.4rem;
    min-height: 4.4rem;
    box-sizing: border-box;
    border: 0.02rem solid #fff; }
  .saw-code .hd-lge {
    left: 0.36rem;
    top: 0.26rem;
    color: #fff;
    font-size: 0.36rem;
    box-sizing: border-box; }
  .saw-code p {
    line-height: 0.7rem;
    height: 0.5rem;
    text-align: center;
    color: #fff;
    box-sizing: border-box; }

.tikets-number {
  padding: 0 0.22rem;
  background-color: #fff;
  box-sizing: border-box; }
  .tikets-number li {
    line-height: 0.58rem;
    padding: 0.2rem 0;
    font-size: 0.26rem;
    color: #333;
    border-bottom: 0.02rem solid #bcbcbc;
    position: relative;
    box-sizing: border-box; }
    .tikets-number li .number {
      position: relative; }
      .tikets-number li .number input[type="text"] {
        height: 0.6rem;
        line-height: 0.6rem;
        vertical-align: middle;
        box-sizing: border-box;
        padding-left: 1.04rem; }
      .tikets-number li .number span {
        vertical-align: middle;
        box-sizing: border-box;
        position: absolute;
        pointer-events: none; }
    .tikets-number li .false {
      line-height: 0.44rem;
      box-sizing: border-box; }
  .tikets-number .false-notice {
    padding-left: 0.56rem;
    box-sizing: border-box; }

.tikes-sales {
  border-bottom: 0.02rem solid #bcbcbc;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: height .5s ease-in-out;
          transition: height .5s ease-in-out;
  box-sizing: border-box; }
  .tikes-sales dt, .tikes-sales dd {
    padding: 0 0.4rem;
    box-sizing: border-box; }
  .tikes-sales .sales-first {
    border-bottom: 0.02rem solid #bcbcbc;
    line-height: 0.58rem;
    padding: 0.1rem 0.4rem;
    position: relative;
    -webkit-transition: all .1s linear;
            transition: all .1s linear;
    box-sizing: border-box; }
    .tikes-sales .sales-first .sales-more {
      color: #333;
      font-size: 0.26rem;
      font-weight: bold;
      box-sizing: border-box; }
    .tikes-sales .sales-first .chose-flag {
      position: absolute;
      right: 0rem;
      top: 0.1rem;
      width: 1.06rem;
      height: 0.6rem;
      box-sizing: border-box;
      border-left: 0.02rem dashed #c1c1c1; }
      .tikes-sales .sales-first .chose-flag .fold {
        bottom: 0.3rem;
        right: 0.4rem; }
      .tikes-sales .sales-first .chose-flag .open {
        bottom: 0.2rem;
        right: 0.4rem; }
  .tikes-sales dd {
    color: #666;
    font-size: 0.24rem; }
    .tikes-sales dd .pay {
      line-height: 0.4rem;
      min-height: 0.46rem;
      padding: 0.06remrem 0 0 1.34rem;
      color: #666;
      position: relative;
      box-sizing: border-box; }
      .tikes-sales dd .pay span {
        word-break: break-all;
        box-sizing: border-box; }
      .tikes-sales dd .pay .pay-oder {
        position: absolute;
        left: 0rem;
        top: 0.06rem;
        box-sizing: border-box; }
      .tikes-sales dd .pay .btn:first-child {
        margin-right: 0.14rem;
        box-sizing: border-box; }
    .tikes-sales dd .pay.pay-error {
      color: #ff4538;
      box-sizing: border-box; }
  .tikes-sales dd:nth-child(2) {
    margin-top: 0.2rem; }
  .tikes-sales dd:last-child {
    margin-bottom: 0.2rem; }
  .tikes-sales .sales-ok {
    text-align: center;
    padding: 0.4rem 0 0rem 0;
    box-sizing: border-box; }
    .tikes-sales .sales-ok .hx {
      line-height: 0.8rem;
      vertical-align: middle;
      padding-left: 1.1rem;
      position: relative;
      display: inline-block;
      box-sizing: border-box; }
      .tikes-sales .sales-ok .hx .track-sucess {
        position: absolute;
        left: 0rem;
        box-sizing: border-box; }

.store-name {
  padding: 0.2rem;
  background-color: #fff;
  box-sizing: border-box; }
  .store-name .logo-shop {
    width: 0.96rem;
    height: 0.96rem;
    border: 0.02rem solid #d7d7d7;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box; }
    .store-name .logo-shop img {
      max-width: 100%;
      max-height: 100%; }
  .store-name .logo-name {
    margin-left: 1.26rem;
    box-sizing: border-box; }
    .store-name .logo-name p {
      line-height: 0.48rem;
      color: #585858;
      box-sizing: border-box; }

.coupon-list {
  padding: 0.2rem;
  font-size: 0.24rem; }
  .coupon-list .introduce {
    font-weight: normal;
    color: #8a8a8a;
    padding: 0.16rem 0 0.06rem;
    box-sizing: border-box; }
    .coupon-list .introduce .more-info {
      float: right;
      margin-top: -0.06rem;
      box-sizing: border-box; }
  .coupon-list .coupon-use > li {
    background-color: #fff;
    margin-top: 0.1rem;
    box-sizing: border-box; }
    .coupon-list .coupon-use > li .select-coupon {
      float: left;
      width: 1rem;
      height: 1.3rem;
      border-right: 0.02rem dashed #999999;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      box-sizing: border-box; }
      .coupon-list .coupon-use > li .select-coupon .track-sucess, .coupon-list .coupon-use > li .select-coupon .track-default {
        width: 0.44rem;
        height: 0.44rem;
        box-sizing: border-box; }
        .coupon-list .coupon-use > li .select-coupon .track-sucess:before, .coupon-list .coupon-use > li .select-coupon .track-default:before {
          width: 0.1rem;
          height: 0.2rem;
          box-sizing: border-box; }
    .coupon-list .coupon-use > li .specific {
      margin-left: 1.3rem;
      padding: 0.22rem 0;
      line-height: 0.44rem;
      box-sizing: border-box; }
      .coupon-list .coupon-use > li .specific dt {
        color: #585858;
        font-weight: bold;
        box-sizing: border-box; }
      .coupon-list .coupon-use > li .specific dd {
        color: #8c8c8c;
        box-sizing: border-box; }
  .coupon-list .coupon-use-rest {
    box-sizing: border-box; }
    .coupon-list .coupon-use-rest > li {
      position: relative;
      padding: 0 1rem 0 0.2rem;
      box-sizing: border-box; }
      .coupon-list .coupon-use-rest > li .specific {
        margin-left: 0;
        box-sizing: border-box; }
      .coupon-list .coupon-use-rest > li .use-this {
        width: 0.6rem;
        height: 0.6rem;
        line-height: 0.6rem;
        position: absolute;
        right: 0.2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        cursor: pointer;
        color: #29bd99;
        box-sizing: border-box; }

.sorry-tl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  box-sizing: border-box; }
  .sorry-tl .intro {
    height: 0.6rem;
    line-height: 0.6rem;
    position: relative;
    padding-left: 0.8rem;
    margin: 0.6rem auto;
    box-sizing: border-box; }

.track-login-banner {
  position: relative;
  margin-top: 0.8rem;
  width: 100%; }
  .track-login-banner .track-login-banner-info {
    width: 100%;
    height: 4.8rem;
    border: 0.02rem solid #ccc;
    margin-bottom: 1.3rem; }

.track-login-banner-tab {
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .track-login-banner-tab > li {
    border-radius: 50%;
    width: 0.12rem;
    height: 0.12rem;
    display: inline-block;
    margin-left: 0.12rem;
    background-color: #ccc;
    cursor: pointer; }
  .track-login-banner-tab .cur {
    background-color: #4ccaae; }

.load-error-wait {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.9rem;
  box-sizing: border-box;
  position: relative; }
  .load-error-wait .ico-sorry-gray {
    top: 0.3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .load-error-wait .retry {
    padding: 0.2rem 0;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.3rem;
    color: #333; }

/*# sourceMappingURL=track_mobile.css.map */